<section class="flex justify-center items-center h-[calc(100vh-64px)]">
  <div class="text-center">
    <h1 class="mb-5 font-sans text-5xl font-bold text-gray-900">
      Oups<span class="text-rose-500"> !</span>
    </h1>
    <h2 class="mb-5 font-sans text-xl font-bold text-gray-900">
      Nous n'avons pas trouvé cette page.
    </h2>
    <code class="text-center text-gray-500">404 - NOT FOUND</code>
    <br />
    <button
      routerLink="/"
      class="mt-5 rounded-lg bg-rose-500 px-8 py-2 font-medium text-white outline-none hover:opacity-80 focus:ring"
    >
      Retour
    </button>
  </div>
</section>
