<section class="py-20">
  <h1 class="mb-12 text-center font-sans text-5xl font-bold text-gray-900">Connexion<span class="text-rose-500">.</span></h1>

  <div class="w-screen max-w-screen-md mx-auto">
    <div class="flex flex-col">
      <div class="rounded-xl border border-gray-200 bg-white p-6 shadow-lg">
        <form class="">
          
          <div class="relative mb-5 w-full flex items-center justify-between rounded-md">
            <input type="email" name="email" class="h-12 w-full cursor-text rounded-md border border-gray-100 bg-gray-100 p-4 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" placeholder="Adresse mail" />
          </div>
          
          <div class="relative mb-5 w-full flex items-center justify-between rounded-md">
            <input type="password" name="password" class="h-12 w-full cursor-text rounded-md border border-gray-100 bg-gray-100 p-4 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" placeholder="Mot de passe" />
          </div>
          
          <div class="mt-6 grid w-full grid-cols-2 space-x-4 md:flex">
            <a class="rounded-lg bg-gray-200 px-8 py-2 font-medium text-gray-700 outline-none hover:opacity-80 focus:ring" routerLink="/signup">Créer un compte</a>
            <button class="rounded-lg bg-rose-500 px-8 py-2 font-medium text-white outline-none hover:opacity-80 focus:ring">Se connecter</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</section>
